<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuowei.smarthome">
    <!-- 必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <!-- 可选 -->
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <!--sdk初始化-->
        <meta-data android:value="6d57e32ebf1ad63646cc682e331c296c" android:name="BUG_HD_SDK_GENERAL_KEY" />
        <meta-data android:value="587308b9677baa1b9c00095f" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Umeng" android:name="UMENG_CHANNEL"/>
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="your-app-secret" />
        <meta-data
            android:name="com.taobao.android.hotfix.RSASECRET"
            android:value="your-rsa-secret" />

    </application>

</manifest>